* {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
}

body {
  margin: 0;
  /* padding: 30px; */
  /* width: 100%; */
  background: #1f1f21;
  padding: 0 15px;
}

.myContainer {
  /* width: 99%; */
  margin: 0 auto;
  /* padding: 0 5%; */
  padding: 0;
}

.leftSide {
  background: #2a2c2f;
  color: #fff;
  /* padding: 15px; */
  /* padding-left: 15px; */
}

.leftSide .logo {
  text-decoration: none;
  font-size: 2.75em;
  text-align: center;
  /* font-style: normal; */
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
}

.leftSide .logo a {
  color: inherit;
  text-decoration: none;
  font-weight: 100;
  
}

.leftSide .menu {
  list-style: none;
  text-align: center;
}

.leftSide .menu li {
  border-bottom: 1px solid #fff;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.leftSide .menu a{
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  display: block;
}

.sociallinks-list {
  list-style: none;
}

.sociallinks-item {
  display: inline-block;
}

.sociallinks-list a {
  color: inherit;
}

/* ************************************************** */
.gallery {
  /* margin-top: 117px; */
  /* width: 80%; */
  /* margin: 89px auto; */
  /* op ion: all 0.5s; */
  /* padding: 0 15px; */
  margin-left: 15px;
}

.sourceBtn {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  background: rgb(55, 172, 250);
  width: 15%;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.3s;
}

.sourceBtn:hover {
  background: yellowgreen;
}

.gallery-item-img {
  width: 100%;
  height: auto;
  display: block;
}