*, 
*:before, 
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

body {
  background: #1f1f21;
  padding: 0 15px;
}

.bg-dark {
  color: red;
  background: #1f1f21!important;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

.navbar-dark,
.navbar-toggler {
  color: #eaebec;
  border-color: #eaebec;
}

.navbar-toggler {
  border: 2px solid #eaebec;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-item {
  text-align: center;
}
/* ********************* */

.dividerWrapper {
  position: fixed;
  /* position: sticky;
  top: 0; */
  /* background: yellowgreen; */
  /* opacity: 0.3; */
  background: #1f1f21;
  height: 15px;
  width: 100%;
  z-index: 10;
}

/* .divider {
  position: sticky;
  top: 0;
} */


.myContainer {
  margin: 0 auto;
  padding: 0;
}

/* ****************** */

.leftSide {
  background: #2a2c2f;
  color: #eaebec;
  display: flex;
  justify-content: space-around;
  font-family: 'Exo', sans-serif;
  /* font-family: 'Papyrus', sans-serif; */
  height: 100vh;
  position: sticky;
  top: 0;
  /* margin-top: 15px; */
}

@media(max-width: 767px) {
  .leftSide {
    display: none;
  }
}

.leftSide-content {
  /* background: #2a2c2f; */
  /* max-width: 100%; */
  /* position: fixed;
  max-width: 13%; */
  /* background: yellowgreen; */
  /* height: 100vh; */
  /* position: sticky;
  top: 0; */
}

.leftSide .logo {
  text-decoration: none;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-align: center;
  /* text-transform: uppercase; */
  padding: 60px 0 80px;
  /* margin-top: 30px; */
}
@media(max-width: 1199px) {
  .leftSide .logo {
    font-size: 1.3em;
  }
}

@media(max-width: 991px) {
  .leftSide .logo {
    font-size: 1em;
  }
}

.leftSide .logo a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: 100;
  transition: 0.5s;
}

.leftSide .logo a:hover {
  transform: scale(1.05, 1.05);
  /* как вариант поменять цвет */
}

.leftSide .menu {
  list-style: none;
  text-align: center;
  margin: 12px 12px 100px;
}

.leftSide .menu li {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

.leftSide .menu li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(154, 205, 50, 0.7);
  transition: 0.2s;
  transform: scaleX(0);
  margin-top: 20px;
}

.leftSide .menu li:hover:before {
  transform: scaleX(1);
}

.leftSide .menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  height: 50px;
  line-height: 50px;
  font-size: 1.0em;
}

.sociallinks {
  /* display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center; */
}


.sociallinks-title {
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  text-align: center;
  
}

.sociallinks-title h2 {
  font-size: 1.8em;
}

.sociallinks-list {
  list-style: none;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* color: #42b0ff; */
  /* color: #fcaf45; */
  /* color: yellowgreen; */
  color: #ffdc80;
}

.sociallinks-item {
  /* border: 1px solid #fff; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
  margin-bottom: 10px;
  transition: all 0.1s;
}

.sociallinks-list a {
  color: inherit;
}

.sociallinks-list a i{
  color: inherit;
  font-size: 1.8em;
}

.sociallinks-item.instagram:hover {
  border-color: #E1306C;;
  box-shadow: 0px 0px 30px #E1306C;;
  transform: scale(1.1, 1.1);
  color: #E1306C;
}

.telegram:hover {
  border-color: #0088cc;
  box-shadow: 0px 0px 30px #0088cc;
  color: #0088cc;
  transform: scale(1.1, 1.1);
}
.soundcloud:hover {
  border-color: #ff8800;
  box-shadow: 0px 0px 30px #ff8800;
  color: #ff8800;
  transform: scale(1.1, 1.1);
}

/* ************************************************** */

@media (max-width: 767px) {
  .rightSide {
    margin-top: 55px;
  }
}

.gallery {
  margin-top: 15px;
  margin-left: 15px;
  color: #eaebec;
}

@media(max-width: 767px) {
  .gallery {
    margin-left: 0;
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item:hover .gallery-item-img {
  transform: scale(1.1, 1.1);
  transition: 0.9s;
}

.gallery-item:not(:hover) .gallery-item-img{
  transform: scale(1, 1);
  transition: 1.2s;
}

.gallery-item-content {
  
}

.gallery-item-img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item-cap {
  /* padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px; */
  background: rgba(0, 0, 0, 0.2);
  /* background: rgba(193, 53, 132, 0.3); */
  position: absolute;
  bottom: -100%;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* cursor: pointer; */
  color: #fff;
  transition: bottom 1s;
}
.gallery-item:hover .gallery-item-cap {
  bottom: 0;
}

.gallery-item-title {
}
.gallery-item-description {

}